.content {
  margin: 2rem;
}

.content h1 {
  text-align: center;
  padding: 50px;
}

.table {
  display: table;
  width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
}

.table thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
}

tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

th {
  display: table-cell;
  text-align: start;
}

.table thead th {
  border-bottom-width: 2px;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}

.menu-wrapper {
  display: flex;
  align-items: center;
  padding: 20px;
}

.menu-wrapper .menu-img {
  width: 150px;
  height: 150px;
  padding: 15px;
  border-radius: 20px;
}

.menu-wrapper p {
  font-weight: bold;
  width: 200px;
  word-wrap: break-word;
}

.qty-wrapper button {
  width: 2.5rem;
  height: 2.5rem;
}

.qty-wrapper input {
  width: 3rem;
  height: 2.5rem;
  text-align: center;
}
.btn {
  padding: .5rem;
  color: white;
  background-color: var(--deep-saffron);
}

.btn-trash {
  background-color: var(--cinnabar);
  width: 2.5rem;
  height: 2.5rem;
}

.cart-info-wrapper {
  display: flex;
  flex-direction: column;
  align-items: end;
  /* justify-content: center; */
}

.cart-info-card {
  background-color: inherit;
  padding: 15px;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
  margin-bottom: 25px;
}

.cart-info {
  display: flex;
  justify-content: space-between;
}

.cart-info .text-key {
  font-weight: bold;
  padding: 5px;
  margin-right: 40px;
  padding-right: 20px;
}

.cart-info-wrapper button {
  padding: 15px;
  padding-left: 25px;
  padding-right: 25px;
}


.cart-menu-price {
  color: var(--deep-saffron);
  margin: 15px;
}

.cart-menu-price-discount {
  text-decoration: line-through;
  color: var(--black_60);
}