.content {
    display: flex;
    margin: 2rem;
}

.menu-card {
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding-bottom: 15px;

    transition: all .2s ease;
}

.menu-card:hover {
    scale: 1.1;
}

.menu-img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    padding: 5px;
    
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.menu-title {
    margin: 10px;
    width: 190px;
    word-wrap: break-word;
    font-family: var(--font-poppins);
    font-weight: 500;
}

.menu-price {
    color: var(--deep-saffron);
    margin: 15px;
}

.btn-group {
    margin-top: 10px;
    margin-left: 15px;
    /* position: absolute;
    bottom: 10px; */
}

.btn {
    padding: .5rem;
    color: white;
    background-color: var(--deep-saffron);
}

.btn:hover {
    background-color: var(--dark-orange);
}

.btn-buy {
    width: 145px;
}